---
import { type CollectionEntry, getCollection } from "astro:content";
import { render } from "astro:content";
import Layout from "../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await render(post);
---

<Layout {...post.data}>
  <h1 class="mb-8 text-center">{post.data.title}</h1>
  {
    post.data.heroImage && (
      <img
        src={"/images/" + post.data.heroImage}
        alt={post.data.title}
        class="mb-8 w-full object-cover rounded"
      />
    )
    }
  <div>
  <Content />
  </div>
  <div class="text-sm text-zinc-500 mt-8">
    {post.data.pubDate.toLocaleDateString()}
  </div>
</Layout>
