---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home" description="Home page">
  <p>
    This is my personal blog. Here I share various thoughts on software
    development and my life.
  </p>
  <p>
    The world is overflowing with generative garbage and short videos that cause
    brain rot. This is a small, cozy, and old-school corner of the internet
    where I share my thoughts without hype or clickbait.
  </p>
</Layout>
