---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <div class="flex flex-col items-center">
    <a href="/">
    <img src="/lebro.svg" alt="" class="w-14 h-14 rounded mb-4" />
    </a>
    <div class="text-3xl font-mono"><a href="/">{SITE_TITLE}</a></div>
  </div>
  <nav>
    <div class="internal-links flex justify-center gap-4 text-xl">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
  </nav>
</header>
<style></style>
